<div class="hoverable-item" nz-row style="height: 60px" nzType="flex" nzAlign="middle">
        <div style="height: 21px; text-align: center" nz-col nzXs="5" nzSm="4" nzMd="3" nzLg="3" nzXl="2" nzXXl="2">
            <div style="font-weight: bold">{{team.position}}</div>
        </div>
        <div nz-col nzXs="13" nzSm="14" nzMd="15" nzLg="15" nzXl="16" nzXXl="16" style="text-align: left; padding-left: 2px; height: 50px">
            <div style="font-weight: bold">
                <div nz-row nzType="flex" nzAlign="middle" nzJustify="start">
                    <div nz-col nzXs="8" nzSm="5" nzMd="4" nzLg="4" nzXl="3" nzXXl="2">
                        <img src="{{team.image}}" height="50" width="50"/>
                    </div>
                    <div nz-col nzXs="16" nzSm="19" nzMd="20" nzLg="20" nzXl="21" nzXXl="22">
                        <div>{{team.team}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 21px;text-align: center" nz-col nzSpan="2">
            <div style="font-weight: bold">{{team.games}}</div>
        </div>
        <div style="height: 21px;text-align: center" nz-col nzSpan="2">
            <div style="font-weight: bold">{{team.score_diff}}</div>
        </div>
        <div style="height: 21px;text-align: center" nz-col nzSpan="2">
            <div style="font-weight: bold">{{team.points}}</div>
        </div>
</div>
