.card-hoverable{
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.card-hoverable:hover{
    transform: scale(1.125);
}

::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
