<div *ngIf="!getLoadingState()">
    <h2 style="text-align: center;">Jugadores</h2>
    <div style="margin-top: 20px" nz-row nzGutter="16" nzAlign="top" nzType="flex" nzJustify="center">
        <app-player-card *ngFor="let player of team.forwards" [model]="player"></app-player-card>
        <app-player-card *ngFor="let player of team.centers" [model]="player"></app-player-card>
        <app-player-card *ngFor="let player of team.defenses" [model]="player"></app-player-card>
        <app-player-card *ngFor="let player of team.goalkeepers" [model]="player"></app-player-card>
        <app-player-card *ngFor="let player of team.coaches" [model]="player"></app-player-card>
    </div>
</div>
