<div class="bottom-bordered-container" style="height: 100%;" nz-row nzType="flex" nzAlign="middle" nzJustify="space-between">
    <div style="height: 80px; display: table" nz-col nzSpan="6">
        <div style="display: table-cell; vertical-align: middle" nz-row>
            <i style="font-size: 24px" nz-icon nzType="calendar" nzTheme="outline"></i>
            <h5>{{gameData.gameDate}}</h5>
        </div>
    </div>
    <div style="height: 80px" nz-col nzSpan="6">
        <div nz-row>
            <img style="margin: auto" src="{{gameData.homeTeamImgUrl}}" height="60" width="60"/>
        </div>
        <div nz-row>
            <h5>{{gameData.homeTeam}}</h5>
        </div>
    </div>
    <div style="height: 80px; display: table" nz-col nzSpan="6">
        <div style="display: table-cell; vertical-align: middle" nz-row>
            <h2>{{gameData.homeScore}} - {{gameData.awayScore}}</h2>
        </div>
    </div>
    <div style="height: 80px;" nz-col nzSpan="6">
        <div nz-row>
            <img style="margin: auto" src="{{gameData.awayTeamImgUrl}}" height="60" width="60"/>
        </div>
        <div nz-row>
            <h5>{{gameData.awayTeam}}</h5>
        </div>
    </div>
</div>
