<div class="bottom-bordered-container" style="height: 100%;" nz-row nzType="flex" nzAlign="middle" nzJustify="space-between">
    <div style="height: 80px; display: table" nz-col nzSpan="6">
        <div style="display: table-cell; vertical-align: middle" nz-row>
            <i style="font-size: 24px" nz-icon nzType="calendar" nzTheme="outline"></i>
            <h5></h5>
        </div>
    </div>
    <div style="height: 80px" nz-col nzSpan="6">
        <div nz-row>
            <img style="margin: auto" src="" height="60" width="60"/>
        </div>
        <div nz-row>
            <h5>venados</h5>
        </div>
    </div>
    <div style="height: 80px; display: table" nz-col nzSpan="6">
        <div style="display: table-cell; vertical-align: middle" nz-row>
            <h2> -</h2>
        </div>
    </div>
    <div style="height: 80px;" nz-col nzSpan="6">
        <div nz-row>
            <img style="margin: auto" src="" height="60" width="60"/>
        </div>
        <div nz-row>
            <h5></h5>
        </div>
    </div>
</div>
